body {
  background: #161523;
}

h1 {
  /* position: absolute;
  top: 50%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 100%;
  z-index: 10; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Gloria Hallelujah', cursive;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  top: 20%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  /* text-transform: uppercase; */
  font-size: 3.4em;
  /* letter-spacing: 0.1em; */
  z-index: 9;
  -webkit-text-stroke: 1px rgb(37, 36, 36);
  /* color: white; */
  /* text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
  text-shadow: 3px 1px 6px #000000;
}

/* Make the chart container fill the page using CSS. */

#chart {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}